.navbar {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: white; */
}

.navbar div {
  margin: 0px 3rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  height: 4.5em;
  padding: 1.5em;
  will-change: filter;
  padding: 0px;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
