.app {
  left: 10vw;
  position: relative;
}

.dashboard {
  display: flex;
  gap: 1rem;
  transition: all 300ms ease-out;
}

.first-block {
  position: absolute;
  height: 90vh;
  width: 30vw;
  background-color: #6f59ff;
  left: 55vw;
  /* top: 10vh; */
  z-index: -1;
}

.second-block {
  position: absolute;
  height: 55vh;
  width: 30vw;
  background-color: #ffdd78;
  left: 45vw;
  top: 30vh;
  z-index: -1;
}

.arrows-block {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 20vh;
  width: 30vw;
  background-color: #ff8e59;
  left: 55vw;
  top: 65vh;
  z-index: 1;
}

.arrows-block button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0px 10%;
  font-size: 2em;
  pointer-events: all;
  cursor: pointer;
  z-index: 2;
}
